fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
alembic
aiogram
openai
langchain
langchain-openai
tiktoken
python-multipart
pytesseract
Pillow
cryptography
passlib
httpx[socks]
pydantic[email]
aiohttp-socks
python-jose[cryptography]
pydub
wyoming
fastembed
